<div class="form-container mdl-shadow--2dp">

    <h4 class="heading-text">ลงชื่อเข้าใช้</h4>

    <span class="error" *ngIf="error">{{ error }}</span>

    <form class="form-wrapper" #formData='ngForm' (ngSubmit)="onSubmit(formData)">

        <md-input-container class="form-field">
            <input mdInput type="email" placeholder="อีเมล" (ngModel)="email" name="email">
        </md-input-container>
        <md-input-container class="form-field">
            <input mdInput type="password" placeholder="รหัสผ่าน" (ngModel)="password" name="password">
        </md-input-container>
        <div class="form-action-container">
            <md-checkbox class="cb-field" color="primary" (ngModel)="checked" name="checked">จดจำการเข้าใช้</md-checkbox>
            <button md-raised-button type="submit" color="primary">ดำเนินการต่อ</button>
        </div>

    </form>
</div>