<header>

  <md-toolbar color="primary">
    <a class="main-logo" [routerLink]="['/']" >{{ title }}</a>
    <span class="flex-spacer"></span>
    <nav class="main-nav" *ngIf="user">
      <md-nav-list class="main-nav-list">
        <md-list-item [class.active]="rla.isActive" *ngFor="let link of links">
          <a  [routerLink]="link.routerlink" 
              routerLinkActive #rla="routerLinkActive" >{{link.label}}</a>
        </md-list-item>

        <!-- User Menu -->
        <div class="btn-container" *ngIf="user">
          <button md-icon-button [mdMenuTriggerFor]="menu">
            <md-icon>account_circle</md-icon>
          </button>
          <md-menu #menu="mdMenu" xPosition="after">
            <div md-menu-item disabled="true">
              <span class="menu-title">{{user.firstName}} {{user.lastName}}</span>
            </div>
            <button md-menu-item (click)="onLogout()">
              <md-icon>lock_open</md-icon>
              <span>ออกจากระบบ</span>
            </button>
          </md-menu>
        </div>
 
      </md-nav-list>
    </nav>
    <nav class="compact-nav" *ngIf="user">
        <md-menu #appMenu="mdMenu">
          <button md-menu-item *ngFor="let link of links" (click)="router.navigate(link.routerlink)">
            <md-icon>{{link.icon}}</md-icon>
            <span>{{link.label}}</span>
          </button>
          <md-divider></md-divider>
          <button md-menu-item (click)="onLogout()">
              <md-icon>lock_open</md-icon>
              <span>ออกจากระบบ</span>
            </button>
        </md-menu>

        <button md-button class="compact-menu-btn" [mdMenuTriggerFor]="appMenu">
          <span>เมนู</span>
        </button>
    </nav>
    

  </md-toolbar>

</header>

<!-- ROUTING CONTENT -->
<main>
  <router-outlet></router-outlet>
</main>