<div class="preload-container" [class.hidden]="!loading">
    <md-spinner class="preloader" color="primary"></md-spinner>
</div>

<div class="component-page-content" [class.invincible]="loading">

    <div class="section-container">

        <!-- Overview -->
        <section>

            <md-grid-list [cols]="compactMode ? 1:3" gutterSize="18px" rowHeight="100px">

                <!--<md-grid-tile class="mdl-shadow--2dp grid-tile" [colspan]="2" >
                    <div class="tile-wrapper">
                        <div class="tile-body">
                            
                            <ltto-metric-chart 
                                [title]="'Documents'" 
                                [amount]="documents ? documents.length : 0"></ltto-metric-chart>

                        </div>
                    </div>
                </md-grid-tile>
                <md-grid-tile class="mdl-shadow--2dp grid-tile" [colspan]="2" >
                    <div class="tile-wrapper">
                        
                        <ltto-metric-chart 
                                [title]="'Sheets'" 
                                [amount]="counters.sheets"></ltto-metric-chart>

                    </div>
                </md-grid-tile>
                <md-grid-tile class="mdl-shadow--2dp grid-tile" [colspan]="2" >
                    <div class="tile-wrapper">
                        <div class="tile-body">

                            <ltto-metric-chart 
                                [title]="'Entries'" 
                                [amount]="counters.entries"></ltto-metric-chart>

                        </div>
                    </div>
                </md-grid-tile>-->

                <!-- Gross SUM -->
                <md-grid-tile class="mdl-shadow--2dp grid-tile" [colspan]="1" >
                    <div class="tile-wrapper">
                        <div class="tile-body">

                            <ltto-metric-chart 
                                title="ยอดรวม" 
                                [amount]="lastSums?.grossSum"
                                [displayCurrency]="true"></ltto-metric-chart>

                        </div>
                    </div>
                </md-grid-tile>

                <!-- Multiplied SUM -->
                <md-grid-tile class="mdl-shadow--2dp grid-tile" [colspan]="1" >
                    <div class="tile-wrapper">
                        <div class="tile-body">

                            <ltto-metric-chart 
                                title="หักลบ" 
                                [amount]="lastSums?.multipliedSum"
                                [enableNegative]="true"
                                [displayCurrency]="true"></ltto-metric-chart>

                        </div>
                    </div>
                </md-grid-tile>

                <!-- Net SUM -->
                <md-grid-tile class="mdl-shadow--2dp grid-tile" [colspan]="1" >
                    <div class="tile-wrapper">
                        <div class="tile-body">

                            <ltto-metric-chart 
                                title="ผลรวมสุทธิ" 
                                [amount]="lastSums?.netSum"
                                [enableNegative]="true"
                                [displayCurrency]="true"></ltto-metric-chart>

                        </div>
                    </div>
                </md-grid-tile>

                

            </md-grid-list>

        </section>


        <!-- Charts -->
        <section>

            <md-grid-list [cols]="compactMode ? 1:5" gutterSize="18px" rowHeight="280px">

                <md-grid-tile class="mdl-shadow--2dp grid-tile" [colspan]="compactMode ? 1:2" >

                    <ltto-dashboard-tile title="ประเภทราคา">
                        
                        <ltto-pie-chart tile-content 
                            *ngIf="documents && documents.length > 0"
                            [values]="categorySum | valueOfField:'value':0" 
                            [labels]="categorySum | valueOfField:'name'"></ltto-pie-chart>

                    </ltto-dashboard-tile>

                </md-grid-tile>

                <md-grid-tile class="mdl-shadow--2dp grid-tile" [colspan]="compactMode ? 1:3" >
                    
                    <ltto-dashboard-tile title="ราคา">
                        
                        <ltto-bar-chart tile-content 
                            *ngIf="documents && documents.length > 0"
                            [values]="priceSum | valueOfField:'value':0" 
                            [labels]="priceSum | valueOfField:'name'"></ltto-bar-chart>

                    </ltto-dashboard-tile>

                </md-grid-tile>

            </md-grid-list>

        </section>

        <!-- Top List -->
        <section>

            <md-grid-list 
                [cols]="compactMode ? 1:5" gutterSize="18px" 
                [rowHeight]=" (uniqueEntries.length >= MAX_LIST_SIZE || documents?.length >= MAX_LIST_SIZE) ? '380px':'342px'">

                <!-- Top Entries -->
                <md-grid-tile class="mdl-shadow--2dp grid-tile" [colspan]="compactMode ? 1:2">

                    <ltto-dashboard-tile #entryTopList
                        [title]="activeTopPrice ? 'อันดับรายการ - ' + activeTopPrice?.name : 'Top Entries' "
                        [showFooter]="uniqueEntries.length > MAX_LIST_SIZE">
                        
                        <div tile-action>
                            <button class="tile-action icon-btn" md-icon-button [mdMenuTriggerFor]="menu">
                                <md-icon class="tile-action icon">filter_list</md-icon>
                            </button>
                            <md-menu #menu="mdMenu">
                                <button md-menu-item *ngFor="let price of priceList" 
                                    (click)="setActivePriceProperty(price)">
                                    <span>{{ price.name }}</span>
                                </button>
                            </md-menu>
                        </div>
                        
                        <ltto-price-list tile-content 
                            *ngIf="uniqueEntries.length > 0"
                            [items]="uniqueEntries" 
                            [valuePath]="activeTopPrice?.property" 
                            [maxItem]="MAX_LIST_SIZE"
                            [sortProperty]="activeTopPrice?.property"
                            sortDirection="descending" indexed="true" sorted="true"></ltto-price-list>

                        <div tile-footer>
                            <button md-button 
                                class="tile-action btn" 
                                (click)="openPriceListDialog(entryTopList.title, uniqueEntries, activeTopPrice?.property)">แสดงทั้งหมด</button>
                        </div>

                    </ltto-dashboard-tile>

                </md-grid-tile>

                <!-- Top Documents -->
                <md-grid-tile class="mdl-shadow--2dp grid-tile" [colspan]="compactMode ? 1:3">

                    <ltto-dashboard-tile #docTopList
                        title="อันดับเอกสาร"
                        [showFooter]="documents.length > MAX_LIST_SIZE">

                        <ltto-price-list tile-content 
                            *ngIf="documents?.length > 0"
                            [items]="documents" 
                            [maxItem]="MAX_LIST_SIZE"
                            sortProperty="value"
                            sortDirection="descending" indexed="true" sorted="true"></ltto-price-list>
                            
                        <div tile-footer>
                            <button md-button 
                                class="tile-action btn"
                                (click)="openPriceListDialog(docTopList.title, documents)">แสดงทั้งหมด</button>
                        </div>

                    </ltto-dashboard-tile>

                </md-grid-tile>

            </md-grid-list>

        </section>

        

    </div>

</div>