:host {
    display: block;
}
form {
    width: 350px;
}
.form-header { 
    margin-bottom: 1em; 
}
.form-header-title {
    font-weight: 300;
    text-transform: uppercase;
}
.form-row {
    padding-bottom: 1.5em;
}
.form-row.drop-down{
    margin-top: 16px;
}
.form-row > md-input-container {
    width: 100%
}

span[md-prefix] {
    margin-right: 20px;
}

input {
    font-size: 18px;
}

.form-content {
    padding: 24px;
}

/* field group*/

.form-section .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25em;
}
.form-section .section-header .section-header-title {
    margin: 0;
    /*margin: .5em 0 1em 0;*/
    /*font-weight: 500;*/
    /*font-size: 18px;*/
}

md-select {
    min-width: 220px;
}

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-container > md-checkbox {
    margin-right: 1.5em;
    padding: 6px 0;
    font-size: 18px;
}

/* actions and buttons */

.dialog-actions,
.form-actions {
    display: flex;
    /*flex-direction: row-reverse;*/
    margin-top: 5em;
}
.dialog-actions > button,
.form-actions > button {
    /*text-transform: uppercase;*/
    font-size: 16px;
    font-weight: 400;
}

.form-actions.auto-space-size {
    justify-content: space-between;
}

.form-actions.auto-space-size > button[md-button],
.dialog-actions.auto-space-size > button[md-button] {
    margin: 0;
    flex: 1;
}

button[md-button].primary-btn {
    background-color: #009688;
    color: white;
}
button[md-button].secondary-btn {
    background-color: #E91E63;
    color: white;
}
button[md-icon-button].primary-btn {
    color: #009688;
}
button[md-icon-button].secondary-btn {
    color: #E91E63;
}


.btn-icon {
    font-size: 16px;
    height: 18px;
    width: 18px;
    margin-left: 6px;
    vertical-align: middle;
}
.button > md-icon{
    padding-left: 8px;
    height: 20px;
    width: 20px;
    font-size: 18px;
}


/* generic */
.no-margin {
    margin: 0 !important;
}