<div class="component-wrapper">
    <md-sidenav-container class="sidenav-container">
        <md-sidenav #sidenav class="component-sidenav" [mode]="compactMode ? 'over':'side'">
            <ltto-price-list #navmenu
                [items]="documents"
                [selectedIndex]="0"
                selectable="true" 
                valuePath="" 
                [indexed]="false" 
                sorted="true"
                (selectedItem)="onSelectedChange($event)"></ltto-price-list>
        </md-sidenav>

        <div class="component-sidenav-content">
            
            <div class="sidenav-dynamic-content">

                <!-- FAB -->
                <button md-fab color="accent" 
                    class="btn-float-wrapper float-right float-bottom" 
                    (click)="sidenav.toggle()">
                    <md-icon>menu</md-icon>
                </button>
                <div class="sidenav-content-wrapper">
                    
                    <ltto-document-visualization 
                        [document]="selected" 
                        [priceCategories]="priceCategories"></ltto-document-visualization>

                </div>
            </div>


        </div>

    </md-sidenav-container>

    <!-- Default Text -->
    <div class="default-content" *ngIf="!documents || documents.length < 1">
        <span class="default-text">No content available</span>
    </div>

</div>